.row(ng-controller="bookingsController as vm")
  //-.col-sm-12
    .panel.panel-default
      .panel-body
        button.btn.btn-default(ng-click="vm.toggleEditMode()")
          i.fa.fa-plus.text-muted
        span.label.label-warning.pull-right(ng-show="vm.mode.edit")
          |Mode édition
        span.label.label-primary.pull-right(ng-show="!vm.mode.edit")
          |Mode consultation

  .col-sm-12
    calendar
    //(bookings="vm.bookings")
    //-, editing="vm.mode.edit")
