head
  link(href="https://maxcdn.bootstrapcdn.com/bootswatch/latest/slate/bootstrap.min.css", rel="stylesheet")
  base(href="/")
body(ng-app="huezNg")
  div.container
    //login-buttons
    div(ng-include="'client/bookings/views/index.html'")
