body
  padding-top 40px

.bold
  font-weight: bold!important
.bolder
  font-weight: bolder!important
.tiny
  font-size: 70%!important
.smallest
  font-size: 80%!important
.small
  font-size: 90%!important
.normal
  font-size: 100%!important
.big
  font-size: 120%!important
.bigger
  font-size: 140%!important
.biggest
  font-size: 160%!important
.huge
  font-size: 180%!important
.hugest
  font-size: 200%!important

for i in 0 5 10 15 20 25 30 35
  .mg-t-{i}
    margin-top: i px
  .mg-b-{i}
    margin-bottom: i px
